In [1]:
import pandas as pd

In [2]:
ingresos = pd.read_csv(r'total_ingresostri_vivienda_ENIGH_2018.csv', encoding='latin-1')

In [3]:
ingresos.head()

,folioviv,Aguinaldo del ejercicio 2015,"Alquiler de casas, edificios, locales y otros inmuebles que estÃ¡n dentro del paÃ­s","Alquiler de casas, edificios, locales y otros inmuebles que estÃ¡n fuera del paÃ­s","Alquiler de marcas, patentes y derechos de autor","Alquiler de tierras y terrenos, dentro y fuera del paÃ­s",Becas provenientes de instituciones privadas o de organismos no gubernamentales,Becas provenientes del gobierno,Beneficio de PROCAMPO,"Beneficio de PROSPERA (OPORTUNIDADES, PROGRESA)",...,"Venta de acciones, bonos y cÃ©dulas","Venta de aparatos elÃ©ctricos de segunda mano, etcÃ©tera","Venta de casas, condominios, etcÃ©tera, que estÃ¡n dentro y fuera del paÃ­s","Venta de maquinaria, equipos, animales de producciÃ³n, vehÃ­culos, etcÃ©tera, utilizados en el negocio","Venta de marcas, patentes y derechos de autor","Venta de monedas, metales preciosos, joyas y obras de arte, etcÃ©tera",Venta de terrenos que estÃ¡n dentro y fuera del paÃ­s,Venta de vehÃ­culos,Total de ingresos_tri,Total de ingresos_mensual
0,100013601,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,37327.860,12442.620000
1,100013602,0.00,0.00,0.0,0.0,0.0,0.0,491.8,0.0,0.0,...,0.0,226.225,0.0,0.0,0.0,0.0,0.0,0.0,9336.355,3112.118333
2,100013603,3934.42,29508.19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,104508.160,34836.053333
3,100013604,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,30245.880,10081.960000
4,100013606,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,43229.490,14409.830000

In [4]:
ingresos_selected=ingresos[['folioviv', 'Total de ingresos_mensual', 'Total de ingresos_tri']]

In [5]:
hogar = pd.read_csv(r'conjunto_de_datos_hogares_enigh_2018_ns.csv')

c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (57,63,71,77,79,81,83,87) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [6]:
hogar['tv_paga']=hogar['tv_paga'].replace({ 2:0 })

In [7]:
hogar['celular']=hogar['celular'].replace({ 2:0 })

In [8]:
hogar['telefono']=hogar['telefono'].replace({ 2:0 })

In [9]:
hogar['conex_inte']=hogar['conex_inte'].replace({ 2:0 })

In [10]:
hogar = hogar.apply(pd.to_numeric, errors='coerce')

In [11]:
#list(ingresos.columns)

In [12]:
hogar_selected = hogar[['folioviv','conex_inte','num_refri', 'num_auto', 'num_lavad', 'num_radio', 'tv_paga', 'num_tva',  'num_tvd', 'celular', 'num_compu', 'telefono']]

In [13]:
hogar_selected['dummy_auto'] = hogar_selected['num_auto'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_radio'] = hogar_selected['num_radio'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_tvd'] = hogar_selected['num_tvd'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_compu'] = hogar_selected['num_compu'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_tva'] = hogar_selected['num_tva'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_refri'] = hogar_selected['num_refri'].apply(lambda x: 0 if x == 0 else 1)
hogar_selected['dummy_lavadora'] = hogar_selected['num_lavad'].apply(lambda x: 0 if x == 0 else 1)

<ipython-input-13-5a8114ff710f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_auto'] = hogar_selected['num_auto'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_radio'] = hogar_selected['num_radio'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_tvd'] = hogar_selected['num_tvd'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_compu'] = hogar_selected['num_compu'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_tva'] = hogar_selected['num_tva'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_refri'] = hogar_selected['num_refri'].apply(lambda x: 0 if x == 0 else 1)
<ipython-input-13-5a8114ff710f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hogar_selected['dummy_lavadora'] = hogar_selected['num_lavad'].apply(lambda x: 0 if x == 0 else 1)

In [14]:
hogar_selected['num_tva'].dtypes

dtype('float64')

In [15]:
hogar_selected = hogar_selected[['folioviv','tv_paga', 'celular',  'telefono','dummy_auto',
 'dummy_radio',
 'dummy_tvd',
 'dummy_compu', 'dummy_tva', 'dummy_refri',
 'dummy_lavadora']]

In [16]:
hogar_selected.head()

,folioviv,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora
0,100013601,1,1,1,1,1,1,1,0,1,1
1,100013602,0,1,1,1,1,1,1,1,1,1
2,100013603,1,1,0,0,0,1,1,0,1,1
3,100013604,1,1,1,0,1,1,0,1,1,1
4,100013606,1,1,0,0,0,1,0,0,1,1

In [17]:
hogar_selected.to_csv(r'hogarselectedregresion.csv')

In [18]:

concentrado = pd.read_csv(r'conjunto_de_datos_concentradohogar_enigh_2018_ns.csv')

In [19]:
concentrado['trabaja_dummy'] = concentrado['ingtrab'].apply(lambda x: 0 if x == 0 else 1)

In [20]:
concentrado['educa_jefe'].value_counts()

6     19906
4     12938
3     12744
8      8430
10     6783
1      5477
5      2517
7      2459
9      2054
11     1262
2        77
Name: educa_jefe, dtype: int64

In [21]:
#reemplazo los incompletos con el anterior para cuadrar con endutih, los incompletos se asignan al anterior, preescolar y sin instruccion se consideran sin instruccion
concentrado['educa_jefe']=concentrado['educa_jefe'].replace(1:0, 2:0, 3:0, 4:1, 5:1, 6:2, 7:2, 8:3, 9:3, 10:4 , 11:5})

In [22]:
concentrado['educa_jefe_dummy'] = concentrado['educa_jefe'].apply(lambda x: 1 if x == 0 else 1)

In [23]:
def func(row):
    if row['edad_jefe'] <13:
        return '12 o menos'
    elif row['edad_jefe'] >12 and row['edad_jefe'] <18:
        return '13-17' 
    elif row['edad_jefe'] >17 and row['edad_jefe'] <36:
        return '18-35' 
    elif row['edad_jefe'] >35 and row['edad_jefe'] <66:
        return '36-65' 
    else:
        return '65 o mas'

In [24]:
concentrado['edad_jefe'].dtypes

dtype('int64')

In [25]:
concentrado['grupo_edad_jefe']  = concentrado.apply(func, axis=1)

In [26]:
concentrado['grupo_edad_jefe'].value_counts()

36-65       45755
18-35       15458
65 o mas    13379
13-17          55
Name: grupo_edad_jefe, dtype: int64

In [27]:
concentrado_selected = concentrado[[ 'folioviv' ,'sexo_jefe', 'grupo_edad_jefe','educa_jefe','educa_jefe_dummy', 'trabaja_dummy']]

In [28]:
concentrado_selected.to_csv(r'concentradoselectedregresion.csv')

In [29]:
ingresos_concentrado = pd.merge(ingresos_selected, concentrado_selected, on='folioviv')

In [30]:
ingresos_concentrado_hogar = pd.merge(ingresos_concentrado, hogar_selected, on='folioviv')

In [31]:
ingresos_concentrado_hogar['sexo_jefe']=ingresos_concentrado_hogar['sexo_jefe'].replace({ 2: 0 })

In [32]:
vivienda=pd.read_csv(r'conjunto_de_datos_viviendas_enigh_2018_ns.csv')

c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (4,24) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [33]:
#urbano o rural tercer digito del folio vivienda rural si el 3 digito es == 6
vivienda['folioviv'].shape

(73405,)

In [34]:
vivienda['folioviv']= vivienda['folioviv'].apply(str)

In [35]:
vivienda['folioviv'].isnull().sum()

0

In [36]:
vivienda['rural_urb'] = vivienda['folioviv'].str[2]

In [37]:
vivienda['rural_urb']= vivienda['rural_urb'].apply(float)

In [38]:
vivienda['dummy_urbano'] = vivienda['rural_urb'].apply(lambda x: 0 if x == 6 else 1)

In [39]:
vivienda['dummy_urbano'].value_counts()

1    52646
0    20759
Name: dummy_urbano, dtype: int64

In [40]:
#list(vivienda.columns)

In [41]:
vivienda_selected = vivienda[[ 'folioviv','mat_pisos', 'drenaje', 'disp_elect', 'disp_agua', 'ubica_geo', 'dummy_urbano']]

In [42]:
ubica_geo = pd.read_csv(r'ubic_geo.csv', encoding='latin-1')

In [43]:
vivienda_selected = pd.merge(vivienda_selected, ubica_geo, left_on='ubica_geo', right_on='ubic_geo', how='left')

In [44]:
vivienda_selected =vivienda_selected .drop(['ubic_geo', 'entidad', 'municipio','des_mun','disp_elect' ], axis=1)

In [45]:
vivienda_selected .head()

,folioviv,mat_pisos,drenaje,disp_agua,ubica_geo,dummy_urbano,desc_ent
0,100013601,3,1,1,1001,1,Aguascalientes
1,100013602,3,1,1,1001,1,Aguascalientes
2,100013603,3,1,1,1001,1,Aguascalientes
3,100013604,3,1,1,1001,1,Aguascalientes
4,100013606,3,1,1,1001,1,Aguascalientes

In [46]:
vivienda_selected['folioviv'].dtypes

dtype('O')

In [47]:
ingresos_concentrado_hogar['folioviv']= ingresos_concentrado_hogar['folioviv'].apply(str)

In [48]:
enigh = pd.merge(ingresos_concentrado_hogar, vivienda_selected, on='folioviv')

In [49]:
enigh['folioviv'].nunique()

73355

In [50]:
list(enigh.columns)

['folioviv',
 'Total de ingresos_mensual',
 'Total de ingresos_tri',
 'sexo_jefe',
 'grupo_edad_jefe',
 'educa_jefe',
 'educa_jefe_dummy',
 'trabaja_dummy',
 'tv_paga',
 'celular',
 'telefono',
 'dummy_auto',
 'dummy_radio',
 'dummy_tvd',
 'dummy_compu',
 'dummy_tva',
 'dummy_refri',
 'dummy_lavadora',
 'mat_pisos',
 'drenaje',
 'disp_agua',
 'ubica_geo',
 'dummy_urbano',
 'desc_ent']

In [51]:
enigh.describe()

,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,educa_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,drenaje,disp_agua,ubica_geo,dummy_urbano
count,7.749700e+04,7.749700e+04,77497.000000,77497.000000,77497.0,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000
mean,1.047276e+04,3.141829e+04,0.725809,1.677265,1.0,0.899235,0.438365,0.849026,0.273843,0.271881,0.196137,0.701988,0.226422,0.360827,0.851697,0.665923,1.558086,1.619727,15970.969883,0.716737
std,2.783621e+04,8.350862e+04,0.446109,1.315790,0.0,0.301019,0.496190,0.358025,0.445932,0.444932,0.397076,0.457388,0.418518,0.480243,0.355402,0.471670,1.037895,1.444097,9305.892085,0.450586
min,1.639333e+01,4.918000e+01,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1001.000000,0.000000
25%,4.352452e+03,1.305735e+04,0.000000,1.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,8019.000000,0.000000
50%,7.141848e+03,2.142554e+04,1.000000,2.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,16017.000000,1.000000
75%,1.181026e+04,3.543078e+04,1.000000,2.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,24028.000000,1.000000
max,5.919282e+06,1.775785e+07,1.000000,5.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.000000,7.000000,32056.000000,1.000000

In [52]:
enigh['mat_pisos'].value_counts()

2    23472
2    19766
3    18155
3    13702
1     1319
1     1079
&        4
Name: mat_pisos, dtype: int64

In [53]:
#imputamos moda al & y corregimos diferencias en tipos
enigh['mat_pisos']=enigh['mat_pisos'].replace({ '2':2, '&':2 })

In [54]:
enigh['mat_pisos']=enigh['mat_pisos'].replace({ '3':2, '1':1 })

In [55]:
enigh['disp_agua']=enigh['disp_agua'].replace({ 2: 0,3: 0,4: 0, 5: 0, 6: 0, 7:0 })

In [56]:
enigh['drenaje']=enigh['drenaje'].replace({ 5: 0, 1: 2, 2:1, 3:1, 4:1 })

In [57]:
enigh.to_csv('ENIGH_convariablesENDUTIH.csv')

In [58]:
enigh.describe()

,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,educa_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,...,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,mat_pisos,drenaje,disp_agua,ubica_geo,dummy_urbano
count,7.749700e+04,7.749700e+04,77497.000000,77497.000000,77497.0,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,...,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000
mean,1.047276e+04,3.141829e+04,0.725809,1.677265,1.0,0.899235,0.438365,0.849026,0.273843,0.271881,...,0.701988,0.226422,0.360827,0.851697,0.665923,2.203324,1.590604,0.717886,15970.969883,0.716737
std,2.783621e+04,8.350862e+04,0.446109,1.315790,0.0,0.301019,0.496190,0.358025,0.445932,0.444932,...,0.457388,0.418518,0.480243,0.355402,0.471670,0.473152,0.610949,0.450032,9305.892085,0.450586
min,1.639333e+01,4.918000e+01,0.000000,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1001.000000,0.000000
25%,4.352452e+03,1.305735e+04,0.000000,1.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,1.000000,0.000000,8019.000000,0.000000
50%,7.141848e+03,2.142554e+04,1.000000,2.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,1.000000,1.000000,2.000000,2.000000,1.000000,16017.000000,1.000000
75%,1.181026e+04,3.543078e+04,1.000000,2.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,0.000000,1.000000,1.000000,1.000000,2.000000,2.000000,1.000000,24028.000000,1.000000
max,5.919282e+06,1.775785e+07,1.000000,5.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,2.000000,1.000000,32056.000000,1.000000

# Dummies

Convertimos las variables categoricas en dummies <br>
'educa_jefe',
 'mat_pisos',
 'drenaje'

In [59]:
#get dummies para las categoricas

In [60]:
dummy_educacion = pd.get_dummies(enigh['educa_jefe'])

In [61]:
list(dummy_educacion.columns)

[0, 1, 2, 3, 4, 5]

In [62]:
dummy_educacion.rename(columns={0: 'ninguno',1: 'primaria', 2: 'secundaria', 3: 'preparatoria', 4: 'licenciatura', 5: 'posgrado'}, inplace = True)

In [63]:
# necesitamos eliminar 1 eliminamos posgrado
dummy_educacion=dummy_educacion.drop(['posgrado'], axis=1)

In [64]:
dummy_educacion.head()

   ninguno  primaria  secundaria  preparatoria  licenciatura
0        0         1           0             0             0
1        0         0           0             0             0
2        0         0           0             0             1
3        0         0           0             1             0
4        0         1           0             0             0

In [65]:
#quitamos variable original del dataset
enigh=enigh.drop(['educa_jefe'],axis=1)

In [66]:
enigh = pd.concat([dummy_educacion,enigh], axis=1)

In [67]:
enigh.head()

,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,grupo_edad_jefe,...,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,mat_pisos,drenaje,disp_agua,ubica_geo,dummy_urbano,desc_ent
0,0,1,0,0,0,100013601,12442.620000,37327.860,1,65 o mas,...,1,0,1,1,3,2,1,1001,1,Aguascalientes
1,0,0,0,0,0,100013602,3112.118333,9336.355,1,36-65,...,1,1,1,1,3,2,1,1001,1,Aguascalientes
2,0,0,0,0,1,100013603,34836.053333,104508.160,1,36-65,...,1,0,1,1,3,2,1,1001,1,Aguascalientes
3,0,0,0,1,0,100013604,10081.960000,30245.880,0,65 o mas,...,0,1,1,1,3,2,1,1001,1,Aguascalientes
4,0,1,0,0,0,100013606,14409.830000,43229.490,0,36-65,...,0,0,1,1,3,2,1,1001,1,Aguascalientes

In [68]:
#convertimos a dummy drenaje
dummy_drenaje = pd.get_dummies(enigh['drenaje'])

In [69]:
list(dummy_drenaje.columns)

[0, 1, 2]

In [70]:
dummy_drenaje.rename(columns={0: 'no_tiene_drenaje', 1: 'otro_tipo', 2:'drenaje_redpub'}, inplace = True)

In [71]:
dummy_drenaje.head()

   no_tiene_drenaje  otro_tipo  drenaje_redpub
0                 0          0               1
1                 0          0               1
2                 0          0               1
3                 0          0               1
4                 0          0               1

In [72]:
#quitamos variable original del dataset
enigh=enigh.drop(['drenaje'],axis=1)

In [73]:
enigh = pd.concat([dummy_drenaje,enigh], axis=1)

In [74]:
#eliminamos otro tipo


enigh=enigh.drop(['otro_tipo'],axis=1)

In [75]:
enigh.head()

,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,...,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,mat_pisos,disp_agua,ubica_geo,dummy_urbano,desc_ent
0,0,1,0,1,0,0,0,100013601,12442.620000,37327.860,...,1,1,0,1,1,3,1,1001,1,Aguascalientes
1,0,1,0,0,0,0,0,100013602,3112.118333,9336.355,...,1,1,1,1,1,3,1,1001,1,Aguascalientes
2,0,1,0,0,0,0,1,100013603,34836.053333,104508.160,...,1,1,0,1,1,3,1,1001,1,Aguascalientes
3,0,1,0,0,0,1,0,100013604,10081.960000,30245.880,...,1,0,1,1,1,3,1,1001,1,Aguascalientes
4,0,1,0,1,0,0,0,100013606,14409.830000,43229.490,...,1,0,0,1,1,3,1,1001,1,Aguascalientes

In [76]:
enigh['mat_pisos'].value_counts()

2    56944
3    18155
1     2398
Name: mat_pisos, dtype: int64

In [77]:
# ultima dummy  'mat_pisos'

dummy_matpisos = pd.get_dummies(enigh['mat_pisos'])

In [78]:
dummy_matpisos.rename(columns={1: 'tierra', 2: 'cemento', 3: 'recubrimiento'}, inplace = True)

In [79]:
dummy_matpisos.head()

   tierra  cemento  recubrimiento
0       0        0              1
1       0        0              1
2       0        0              1
3       0        0              1
4       0        0              1

In [80]:
#quitamos tierra para multicolinealidad
dummy_matpisos=dummy_matpisos.drop(['tierra'],axis=1)

In [81]:
enigh = pd.concat([dummy_matpisos,enigh], axis=1)

In [82]:
pd.set_option('display.max_columns', None)

In [83]:
enigh.head()

,cemento,recubrimiento,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,grupo_edad_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,mat_pisos,disp_agua,ubica_geo,dummy_urbano,desc_ent
0,0,1,0,1,0,1,0,0,0,100013601,12442.620000,37327.860,1,65 o mas,1,1,1,1,1,1,1,1,1,0,1,1,3,1,1001,1,Aguascalientes
1,0,1,0,1,0,0,0,0,0,100013602,3112.118333,9336.355,1,36-65,1,1,0,1,1,1,1,1,1,1,1,1,3,1,1001,1,Aguascalientes
2,0,1,0,1,0,0,0,0,1,100013603,34836.053333,104508.160,1,36-65,1,1,1,1,0,0,0,1,1,0,1,1,3,1,1001,1,Aguascalientes
3,0,1,0,1,0,0,0,1,0,100013604,10081.960000,30245.880,0,65 o mas,1,0,1,1,1,0,1,1,0,1,1,1,3,1,1001,1,Aguascalientes
4,0,1,0,1,0,1,0,0,0,100013606,14409.830000,43229.490,0,36-65,1,1,1,1,0,0,0,1,0,0,1,1,3,1,1001,1,Aguascalientes

In [84]:
enigh=enigh.drop(['mat_pisos'],axis=1)

In [85]:
enigh=enigh.drop(['ubica_geo'],axis=1)

In [86]:

dummy_entidad = pd.get_dummies(enigh['desc_ent'])

In [87]:
dummy_entidad=dummy_entidad.drop(['Aguascalientes'],axis=1)

In [88]:
enigh = pd.concat([dummy_entidad,enigh], axis=1)

In [89]:
enigh.head()

,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,Durango,Guanajuato,Guerrero,Hidalgo,Jalisco,Michoacán de Ocampo,Morelos,México,Nayarit,Nuevo León,Oaxaca,Puebla,Querétaro,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas,cemento,recubrimiento,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,grupo_edad_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,disp_agua,dummy_urbano,desc_ent
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013601,12442.620000,37327.860,1,65 o mas,1,1,1,1,1,1,1,1,1,0,1,1,1,1,Aguascalientes
1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,100013602,3112.118333,9336.355,1,36-65,1,1,0,1,1,1,1,1,1,1,1,1,1,1,Aguascalientes
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,100013603,34836.053333,104508.160,1,36-65,1,1,1,1,0,0,0,1,1,0,1,1,1,1,Aguascalientes
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,100013604,10081.960000,30245.880,0,65 o mas,1,0,1,1,1,0,1,1,0,1,1,1,1,1,Aguascalientes
4,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013606,14409.830000,43229.490,0,36-65,1,1,1,1,0,0,0,1,0,0,1,1,1,1,Aguascalientes

In [90]:
enigh=enigh.drop(['desc_ent'],axis=1)

In [91]:

dummy_grupoedad = pd.get_dummies(enigh['grupo_edad_jefe'])

dummy_grupoedad=dummy_grupoedad.drop(['65 o mas'],axis=1)

In [92]:
dummy_grupoedad.head()

   13-17  18-35  36-65
0      0      0      0
1      0      0      1
2      0      0      1
3      0      0      0
4      0      0      1

In [93]:

enigh = pd.concat([dummy_grupoedad,enigh], axis=1)

In [94]:
enigh.head()

,13-17,18-35,36-65,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,Durango,Guanajuato,Guerrero,Hidalgo,Jalisco,Michoacán de Ocampo,Morelos,México,Nayarit,Nuevo León,Oaxaca,Puebla,Querétaro,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas,cemento,recubrimiento,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,grupo_edad_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,disp_agua,dummy_urbano
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013601,12442.620000,37327.860,1,65 o mas,1,1,1,1,1,1,1,1,1,0,1,1,1,1
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,100013602,3112.118333,9336.355,1,36-65,1,1,0,1,1,1,1,1,1,1,1,1,1,1
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,100013603,34836.053333,104508.160,1,36-65,1,1,1,1,0,0,0,1,1,0,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,100013604,10081.960000,30245.880,0,65 o mas,1,0,1,1,1,0,1,1,0,1,1,1,1,1
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013606,14409.830000,43229.490,0,36-65,1,1,1,1,0,0,0,1,0,0,1,1,1,1

In [95]:
enigh=enigh.drop(['grupo_edad_jefe'],axis=1)

In [96]:
enigh.describe()

,13-17,18-35,36-65,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,Durango,Guanajuato,Guerrero,Hidalgo,Jalisco,Michoacán de Ocampo,Morelos,México,Nayarit,Nuevo León,Oaxaca,Puebla,Querétaro,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas,cemento,recubrimiento,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,disp_agua,dummy_urbano
count,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,7.749700e+04,7.749700e+04,77497.000000,77497.0,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000,77497.000000
mean,0.000968,0.217286,0.605520,0.043279,0.032130,0.024104,0.023536,0.049112,0.029356,0.041847,0.037692,0.029872,0.036195,0.026620,0.025575,0.029472,0.027137,0.026698,0.038156,0.022956,0.040169,0.030879,0.024465,0.043589,0.023007,0.029008,0.038492,0.027885,0.023265,0.025136,0.025317,0.031382,0.033614,0.028569,0.734790,0.234267,0.065732,0.656335,0.243919,0.206976,0.300541,0.141889,0.089836,1.047276e+04,3.141829e+04,0.725809,1.0,0.899235,0.438365,0.849026,0.273843,0.271881,0.196137,0.701988,0.226422,0.360827,0.851697,0.665923,0.717886,0.716737
std,0.031094,0.412401,0.488742,0.203486,0.176347,0.153374,0.151601,0.216102,0.168803,0.200240,0.190451,0.170236,0.186776,0.160972,0.157865,0.169127,0.162482,0.161200,0.191575,0.149763,0.196357,0.172990,0.154490,0.204180,0.149928,0.167829,0.192382,0.164644,0.150746,0.156541,0.157087,0.174349,0.180235,0.166592,0.441448,0.423543,0.247814,0.474934,0.429447,0.405141,0.458496,0.348939,0.285948,2.783621e+04,8.350862e+04,0.446109,0.0,0.301019,0.496190,0.358025,0.445932,0.444932,0.397076,0.457388,0.418518,0.480243,0.355402,0.471670,0.450032,0.450586
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.639333e+01,4.918000e+01,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.352452e+03,1.305735e+04,0.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.141848e+03,2.142554e+04,1.000000,1.0,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000
75%,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.181026e+04,3.543078e+04,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5.919282e+06,1.775785e+07,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [97]:
enigh.to_csv('enigh_endutih_CONDUMMIES.csv')

2. Correr la regresión

In [98]:
from sklearn.datasets import make_regression
from matplotlib import pyplot

In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In c:\users\crist\appdata\local\programs\python\python38\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

In [ ]:
list(enigh.columns)

In [99]:
X_all = enigh[['13-17',
 '18-35',
 '36-65',
 'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Ciudad de México',
 'Coahuila de Zaragoza',
 'Colima',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Michoacán de Ocampo',
 'Morelos',
 'México',
 'Nayarit',
 'Nuevo León',
 'Oaxaca',
 'Puebla',
 'Querétaro',
 'Quintana Roo',
 'San Luis Potosí',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz de Ignacio de la Llave',
 'Yucatán',
 'Zacatecas',
 'cemento',
 'recubrimiento',
 'no_tiene_drenaje',
 'drenaje_redpub',
 'ninguno',
 'primaria',
 'secundaria',
 'preparatoria',
 'licenciatura',
 'sexo_jefe',
 'educa_jefe_dummy',
 'trabaja_dummy',
 'tv_paga',
 'celular',
 'telefono',
 'dummy_auto',
 'dummy_radio',
 'dummy_tvd',
 'dummy_compu',
 'dummy_tva',
 'dummy_refri',
 'dummy_lavadora',
 'disp_agua',
 'dummy_urbano']]

In [100]:
print(X_all.isnull().sum().sum())

0

In [104]:
y.isnull().sum()

0

In [102]:
enigh.head()

,13-17,18-35,36-65,Baja California,Baja California Sur,Campeche,Chiapas,Chihuahua,Ciudad de México,Coahuila de Zaragoza,Colima,Durango,Guanajuato,Guerrero,Hidalgo,Jalisco,Michoacán de Ocampo,Morelos,México,Nayarit,Nuevo León,Oaxaca,Puebla,Querétaro,Quintana Roo,San Luis Potosí,Sinaloa,Sonora,Tabasco,Tamaulipas,Tlaxcala,Veracruz de Ignacio de la Llave,Yucatán,Zacatecas,cemento,recubrimiento,no_tiene_drenaje,drenaje_redpub,ninguno,primaria,secundaria,preparatoria,licenciatura,folioviv,Total de ingresos_mensual,Total de ingresos_tri,sexo_jefe,educa_jefe_dummy,trabaja_dummy,tv_paga,celular,telefono,dummy_auto,dummy_radio,dummy_tvd,dummy_compu,dummy_tva,dummy_refri,dummy_lavadora,disp_agua,dummy_urbano
0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013601,12442.620000,37327.860,1,1,1,1,1,1,1,1,1,1,0,1,1,1,1
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,100013602,3112.118333,9336.355,1,1,1,0,1,1,1,1,1,1,1,1,1,1,1
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,1,100013603,34836.053333,104508.160,1,1,1,1,1,0,0,0,1,1,0,1,1,1,1
3,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,1,0,100013604,10081.960000,30245.880,0,1,0,1,1,1,0,1,1,0,1,1,1,1,1
4,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,100013606,14409.830000,43229.490,0,1,1,1,1,0,0,0,1,0,0,1,1,1,1

In [105]:
from sklearn.impute import SimpleImputer
import numpy as np
import matplotlib.pyplot as plt  # To visualize
import statsmodels.api as sm
from sklearn.linear_model import LinearRegression


#imp = SimpleImputer(missing_values=np.nan, strategy='mean')
#imp = imp.fit(X_all)

#X_all_imp = imp.transform(X_all)

In [103]:

y=enigh['Total de ingresos_tri']

In [ ]:
y.describe()

https://towardsdatascience.com/the-dummys-guide-to-creating-dummy-variables-f21faddb1d40

In [106]:
X_all.shape

(77497, 58)

In [107]:
y.shape

(77497,)

In [ ]:
#df ['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [108]:
X_all = sm.add_constant(X_all)

In [109]:
model = sm.OLS(y, X_all).fit()

In [110]:
print_model = model.summary()

In [111]:
print(print_model)

                              OLS Regression Results
=================================================================================
Dep. Variable:     Total de ingresos_tri   R-squared:                       0.052
Model:                               OLS   Adj. R-squared:                  0.051
Method:                    Least Squares   F-statistic:                     74.45
Date:                   Mon, 16 Nov 2020   Prob (F-statistic):               0.00
Time:                           08:45:50   Log-Likelihood:            -9.8615e+05
No. Observations:                  77497   AIC:                         1.972e+06
Df Residuals:                      77439   BIC:                         1.973e+06
Df Model:                             57
Covariance Type:               nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
13-17                             376.6875   9454.377      0.040      0.968   -1.82e+04    1.89e+04
18-35                           -3871.3816   1145.303     -3.380      0.001   -6116.169   -1626.594
36-65                            -776.8709    919.899     -0.845      0.398   -2579.869    1026.127
Baja California                 -2676.3520   2203.745     -1.214      0.225   -6995.681    1642.977
Baja California Sur              3787.9075   2352.532      1.610      0.107    -823.043    8398.858
Campeche                        -1114.7363   2616.080     -0.426      0.670   -6242.238    4012.766
Chiapas                         -7374.1810   2587.500     -2.850      0.004   -1.24e+04   -2302.696
Chihuahua                         141.3487   2172.544      0.065      0.948   -4116.826    4399.523
Ciudad de México                  631.6918   2449.835      0.258      0.797   -4169.972    5433.356
Coahuila de Zaragoza            -4692.3815   2186.550     -2.146      0.032   -8978.008    -406.755
Colima                          -1964.8606   2245.464     -0.875      0.382   -6365.959    2436.238
Durango                         -3632.0440   2433.874     -1.492      0.136   -8402.424    1138.336
Guanajuato                      -2592.9054   2328.210     -1.114      0.265   -7156.185    1970.374
Guerrero                        -6671.0579   2535.439     -2.631      0.009   -1.16e+04   -1701.611
Hidalgo                         -4323.6630   2532.407     -1.707      0.088   -9287.167     639.841
Jalisco                          8726.8990   2435.446      3.583      0.000    3953.437    1.35e+04
Michoacán de Ocampo               383.7906   2481.337      0.155      0.877   -4479.617    5247.198
Morelos                         -4406.4963   2508.335     -1.757      0.079   -9322.820     509.827
México                          -5550.7648   2309.620     -2.403      0.016   -1.01e+04   -1023.921
Nayarit                         -1762.7847   2566.158     -0.687      0.492   -6792.441    3266.871
Nuevo León                      -2610.9650   2232.685     -1.169      0.242   -6987.015    1765.085
Oaxaca                          -2763.7994   2436.654     -1.134      0.257   -7539.628    2012.029
Puebla                          -7902.9115   2523.450     -3.132      0.002   -1.28e+04   -2956.963
Querétaro                         183.6464   2207.714      0.083      0.934   -4143.461    4510.754
Quintana Roo                    -2745.6324   2562.336     -1.072      0.284   -7767.797    2276.533
San Luis Potosí                 -4670.6529   2418.241     -1.931      0.053   -9410.392      69.087
Sinaloa                          1756.4670   2249.282      0.781      0.435   -2652.113    6165.047
Sonora                           1889.2362   2471.836      0.764      0.445   -2955.550    6734.022
Tabasco                         -4614.0059   2605.476     -1.771      0.077   -9720.725     492.714
Tamaulipas                      -2964.3064   2533.927     -1.170      0.242   -7930.790    2002.177
Tlaxcala                        -6827.6164   2511.797     -2.718      0.007   -1.18e+04   -1904.507
Veracruz de Ignacio de la Llave -5798.4260   2397.187     -2.419      0.016   -1.05e+04   -1099.952
Yucatán                         -4302.9756   2397.403     -1.795      0.073   -9001.873     395.921
Zacatecas                       -8939.7606   2409.156     -3.711      0.000   -1.37e+04   -4217.828
cemento                          1328.2625   1771.923      0.750      0.453   -2144.697    4801.223
recubrimiento                    6277.5898   1951.883      3.216      0.001    2451.909    1.01e+04
no_tiene_drenaje                -1746.2115   1351.166     -1.292      0.196   -4394.490     902.067
drenaje_redpub                   1486.8188    851.491      1.746      0.081    -182.099    3155.737
ninguno                         -5.445e+04   2487.081    -21.893      0.000   -5.93e+04   -4.96e+04
primaria                        -5.189e+04   2446.483    -21.208      0.000   -5.67e+04   -4.71e+04
secundaria                      -5.111e+04   2391.651    -21.369      0.000   -5.58e+04   -4.64e+04
preparatoria                    -4.546e+04   2421.243    -18.774      0.000   -5.02e+04   -4.07e+04
licenciatura                    -3.211e+04   2461.620    -13.046      0.000   -3.69e+04   -2.73e+04
sexo_jefe                        3461.3532    670.036      5.166      0.000    2148.087    4774.620
educa_jefe_dummy                 6.047e+04   3807.977     15.881      0.000     5.3e+04    6.79e+04
trabaja_dummy                    2829.3236   1051.013      2.692      0.007     769.344    4889.304
tv_paga                          6163.2182    644.321      9.565      0.000    4900.353    7426.083
celular                          5912.8660    915.061      6.462      0.000    4119.352    7706.380
telefono                         5918.3649    771.345      7.673      0.000    4406.533    7430.197
dummy_auto                       7390.7930    750.871      9.843      0.000    5919.090    8862.497
dummy_radio                      -438.9074    751.081     -0.584      0.559   -1911.023    1033.208
dummy_tvd                        1619.2970    793.410      2.041      0.041      64.217    3174.376
dummy_compu                      1.249e+04    851.049     14.679      0.000    1.08e+04    1.42e+04
dummy_tva                       -3374.7574    721.916     -4.675      0.000   -4789.709   -1959.806
dummy_refri                      -705.8288    968.180     -0.729      0.466   -2603.457    1191.799
dummy_lavadora                   2898.0399    736.313      3.936      0.000    1454.870    4341.210
disp_agua                        1347.3186    835.906      1.612      0.107    -291.052    2985.689
dummy_urbano                    -1784.0253    818.313     -2.180      0.029   -3387.915    -180.136
==============================================================================
Omnibus:                   343126.575   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    2785379531636.004
Skew:                         142.070   Prob(JB):                         0.00
Kurtosis:                   29371.721   Cond. No.                         96.9
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [112]:
predictions = model.predict(X_all)

In [113]:
errors=abs(y-predictions)

In [116]:
errors.describe()

count      77497.00000
mean       17120.20492
std        79487.66182
min            0.07174
25%         4669.72849
50%        10348.38153
75%        19291.65782
max     17705671.08768
dtype: float64

In [117]:
sum(abs(errors/y))*100/y.shape[0]

86.05108882499458

In [ ]:
X_all.dtypes

In [115]:
pd.set_option('display.float_format', lambda x: '%.5f' % x)

In [118]:
X_all_2 = enigh[[ 'no_tiene_drenaje',
 'drenaje_redpub',
 'ninguno',
 'primaria',
 'secundaria',
 'preparatoria',
 'licenciatura',
 'sexo_jefe',
 'educa_jefe_dummy',
 'trabaja_dummy',
 'tv_paga',
 'celular',
 'telefono',
 'dummy_auto',
 'dummy_tvd',
 'dummy_compu',
 'dummy_tva',
 'dummy_lavadora',
 'dummy_urbano']]

In [119]:
X_all_2 = sm.add_constant(X_all_2)

model = sm.OLS(y, X_all_2).fit()

print_model = model.summary()

print(print_model)

                              OLS Regression Results
=================================================================================
Dep. Variable:     Total de ingresos_tri   R-squared:                       0.050
Model:                               OLS   Adj. R-squared:                  0.049
Method:                    Least Squares   F-statistic:                     224.2
Date:                   Mon, 16 Nov 2020   Prob (F-statistic):               0.00
Time:                           08:51:16   Log-Likelihood:            -9.8625e+05
No. Observations:                  77497   AIC:                         1.973e+06
Df Residuals:                      77478   BIC:                         1.973e+06
Df Model:                             18
Covariance Type:               nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
no_tiene_drenaje -2343.7171   1296.008     -1.808      0.071   -4883.886     196.452
drenaje_redpub    2045.9736    724.367      2.824      0.005     626.218    3465.729
ninguno          -5.399e+04   2447.358    -22.060      0.000   -5.88e+04   -4.92e+04
primaria         -5.173e+04   2434.926    -21.243      0.000   -5.65e+04    -4.7e+04
secundaria       -5.135e+04   2387.359    -21.510      0.000    -5.6e+04   -4.67e+04
preparatoria     -4.566e+04   2417.907    -18.882      0.000   -5.04e+04   -4.09e+04
licenciatura     -3.219e+04   2461.262    -13.077      0.000    -3.7e+04   -2.74e+04
sexo_jefe         3162.2287    667.692      4.736      0.000    1853.556    4470.901
educa_jefe_dummy  5.757e+04   2784.838     20.672      0.000    5.21e+04     6.3e+04
trabaja_dummy     1680.1307   1004.477      1.673      0.094    -288.639    3648.900
tv_paga           6880.6141    634.844     10.838      0.000    5636.322    8124.906
celular           6407.8896    899.199      7.126      0.000    4645.465    8170.315
telefono          6649.4925    748.338      8.886      0.000    5182.753    8116.232
dummy_auto        8304.7357    738.257     11.249      0.000    6857.755    9751.716
dummy_tvd         1475.8206    777.589      1.898      0.058     -48.249    2999.890
dummy_compu       1.327e+04    845.870     15.686      0.000    1.16e+04    1.49e+04
dummy_tva        -3449.5635    710.195     -4.857      0.000   -4841.542   -2057.585
dummy_lavadora    3716.5691    692.148      5.370      0.000    2359.963    5073.175
dummy_urbano      -380.7242    727.584     -0.523      0.601   -1806.785    1045.336
==============================================================================
Omnibus:                   342932.665   Durbin-Watson:                   1.953
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    2771272810589.264
Skew:                         141.801   Prob(JB):                         0.00
Kurtosis:                   29297.255   Cond. No.                         48.1
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [120]:
X_all_3 = enigh[[  'Baja California',
 'Baja California Sur',
 'Campeche',
 'Chiapas',
 'Chihuahua',
 'Ciudad de México',
 'Coahuila de Zaragoza',
 'Colima',
 'Durango',
 'Guanajuato',
 'Guerrero',
 'Hidalgo',
 'Jalisco',
 'Michoacán de Ocampo',
 'Morelos',
 'México',
 'Nayarit',
 'Nuevo León',
 'Oaxaca',
 'Puebla',
 'Querétaro',
 'Quintana Roo',
 'San Luis Potosí',
 'Sinaloa',
 'Sonora',
 'Tabasco',
 'Tamaulipas',
 'Tlaxcala',
 'Veracruz de Ignacio de la Llave',
 'Yucatán',
 'Zacatecas','no_tiene_drenaje',
 'drenaje_redpub',
 'ninguno',
 'primaria',
 'secundaria',
 'preparatoria',
 'licenciatura',
 'sexo_jefe',
 'educa_jefe_dummy',
 'trabaja_dummy',
 'tv_paga',
 'celular',
 'telefono',
 'dummy_auto',
 'dummy_tvd',
 'dummy_compu',
 'dummy_tva',
 'dummy_lavadora',
 'dummy_urbano']]

In [121]:
X_all_3 = sm.add_constant(X_all_3)

model = sm.OLS(y, X_all_3).fit()

print_model = model.summary()

print(print_model)

                              OLS Regression Results
=================================================================================
Dep. Variable:     Total de ingresos_tri   R-squared:                       0.051
Model:                               OLS   Adj. R-squared:                  0.051
Method:                    Least Squares   F-statistic:                     85.38
Date:                   Mon, 16 Nov 2020   Prob (F-statistic):               0.00
Time:                           08:54:07   Log-Likelihood:            -9.8618e+05
No. Observations:                  77497   AIC:                         1.972e+06
Df Residuals:                      77447   BIC:                         1.973e+06
Df Model:                             49
Covariance Type:               nonrobust
===================================================================================================
                                      coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------------------
Baja California                 -3702.3894   2196.119     -1.686      0.092   -8006.772     601.993
Baja California Sur              3207.7098   2348.389      1.366      0.172   -1395.120    7810.540
Campeche                        -1013.8434   2611.845     -0.388      0.698   -6133.045    4105.358
Chiapas                         -9625.4216   2551.129     -3.773      0.000   -1.46e+04   -4625.223
Chihuahua                       -2620.3283   2118.118     -1.237      0.216   -6771.829    1531.172
Ciudad de México                -2355.1915   2389.642     -0.986      0.324   -7038.877    2328.493
Coahuila de Zaragoza            -4743.8205   2185.426     -2.171      0.030   -9027.243    -460.398
Colima                          -2621.0765   2242.947     -1.169      0.243   -7017.240    1775.087
Durango                         -6157.6691   2387.644     -2.579      0.010   -1.08e+04   -1477.900
Guanajuato                      -5139.8296   2286.301     -2.248      0.025   -9620.967    -658.692
Guerrero                        -9319.8792   2484.063     -3.752      0.000   -1.42e+04   -4451.129
Hidalgo                         -6783.8133   2490.205     -2.724      0.006   -1.17e+04   -1903.025
Jalisco                          5856.2163   2384.430      2.456      0.014    1182.746    1.05e+04
Michoacán de Ocampo             -2294.7247   2438.991     -0.941      0.347   -7075.133    2485.684
Morelos                         -6984.6705   2457.960     -2.842      0.004   -1.18e+04   -2167.083
México                          -8113.7586   2258.902     -3.592      0.000   -1.25e+04   -3686.323
Nayarit                         -2617.6990   2558.877     -1.023      0.306   -7633.084    2397.686
Nuevo León                      -2844.2304   2228.575     -1.276      0.202   -7212.225    1523.764
Oaxaca                          -4401.8414   2413.572     -1.824      0.068   -9132.429     328.746
Puebla                          -9011.0507   2508.100     -3.593      0.000   -1.39e+04   -4095.189
Querétaro                        -605.6274   2201.296     -0.275      0.783   -4920.156    3708.902
Quintana Roo                    -2496.9612   2559.146     -0.976      0.329   -7512.874    2518.951
San Luis Potosí                 -5223.2029   2413.796     -2.164      0.030   -9954.231    -492.175
Sinaloa                           527.6450   2231.442      0.236      0.813   -3845.969    4901.259
Sonora                           -622.1335   2423.145     -0.257      0.797   -5371.486    4127.218
Tabasco                         -6952.3018   2564.751     -2.711      0.007    -1.2e+04   -1925.404
Tamaulipas                      -5496.4608   2484.772     -2.212      0.027   -1.04e+04    -626.321
Tlaxcala                        -8593.7155   2482.729     -3.461      0.001   -1.35e+04   -3727.579
Veracruz de Ignacio de la Llave -7019.0732   2380.558     -2.948      0.003   -1.17e+04   -2353.192
Yucatán                         -3544.7978   2387.644     -1.485      0.138   -8224.567    1134.971
Zacatecas                       -9312.1725   2408.505     -3.866      0.000    -1.4e+04   -4591.516
no_tiene_drenaje                -2398.8671   1324.460     -1.811      0.070   -4994.802     197.068
drenaje_redpub                   2270.6845    819.070      2.772      0.006     665.312    3876.057
ninguno                         -5.417e+04   2450.538    -22.106      0.000    -5.9e+04   -4.94e+04
primaria                        -5.194e+04   2437.782    -21.306      0.000   -5.67e+04   -4.72e+04
secundaria                      -5.155e+04   2390.096    -21.568      0.000   -5.62e+04   -4.69e+04
preparatoria                    -4.595e+04   2420.332    -18.985      0.000   -5.07e+04   -4.12e+04
licenciatura                    -3.226e+04   2461.917    -13.102      0.000   -3.71e+04   -2.74e+04
sexo_jefe                        3197.9983    668.785      4.782      0.000    1887.183    4508.814
educa_jefe_dummy                 6.254e+04   3308.787     18.901      0.000    5.61e+04     6.9e+04
trabaja_dummy                    2065.1634   1007.749      2.049      0.040      89.982    4040.345
tv_paga                          6342.0939    642.727      9.867      0.000    5082.353    7601.835
celular                          5947.4787    903.142      6.585      0.000    4177.325    7717.632
telefono                         6756.5930    757.452      8.920      0.000    5271.991    8241.195
dummy_auto                       7838.7318    747.991     10.480      0.000    6372.673    9304.790
dummy_tvd                        1899.9902    781.413      2.431      0.015     368.425    3431.556
dummy_compu                      1.304e+04    847.068     15.395      0.000    1.14e+04    1.47e+04
dummy_tva                       -3203.8955    715.178     -4.480      0.000   -4605.641   -1802.150
dummy_lavadora                   3254.3584    708.419      4.594      0.000    1865.860    4642.857
dummy_urbano                    -1392.8328    813.818     -1.711      0.087   -2987.912     202.246
==============================================================================
Omnibus:                   343035.455   Durbin-Watson:                   1.956
Prob(Omnibus):                  0.000   Jarque-Bera (JB):    2778654304495.068
Skew:                         141.944   Prob(JB):                         0.00
Kurtosis:                   29336.244   Cond. No.                         80.7
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [122]:
predictions = model.predict(X_all_3) 

errors=abs(y-predictions)
#MAPE
sum(abs(errors/y))*100/y.shape[0]

85.90035882266986

In [123]:
errors.describe()

count      77497.00000
mean       17120.07152
std        79518.46342
min            0.25006
25%         4660.82030
50%        10260.79908
75%        19248.72269
max     17706923.69747
dtype: float64

# probamos un arbol de regresion

In [125]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_all, y, test_size=0.2, random_state=0)

In [126]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [127]:
y_pred = regressor.predict(X_test)

In [128]:
from sklearn import metrics
print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_pred))
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_pred))
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean Absolute Error: 23362.630836616147
Mean Squared Error: 24646494880.560665
Root Mean Squared Error: 156992.02170989665

In [130]:
y_pred_all = regressor.predict(X_all)

In [131]:
errors= abs(y_pred_all - y)

In [132]:
errors.describe()

count      77497.00000
mean        8218.57997
std        72159.73520
min            0.00000
25%            0.00000
50%            0.00000
75%         6857.45500
max     17741861.67000
Name: Total de ingresos_tri, dtype: float64

In [133]:
sum(abs(errors/y))*100/y.shape[0]

34.78430179560194